<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>ecommerce.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>ecommerce.controle.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ecommerce.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>ecommerce.controle.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>ecommerce.controle.AdicionarProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>ecommerce.controle.RemoverProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoCompraServlet</servlet-name>
        <servlet-class>ecommerce.controle.CarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirProdutoFotoServlet</servlet-name>
        <servlet-class>ecommerce.controle.ExibirProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>BuscarProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.BuscarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DesativarProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.DesativarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>ecommerce.controle.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>BuscarCategoriaServlet</servlet-name>
        <servlet-class>ecommerce.controle.BuscarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DesativarCategoriaServlet</servlet-name>
        <servlet-class>ecommerce.controle.DesativarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCategoriaServlet</servlet-name>
        <servlet-class>ecommerce.controle.CadastrarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>ecommerce.controle.CategoriaServlet</servlet-class>
    </servlet>       
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>ecommerce.controle.AtualizarUsuarioServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>ecommerce.controle.UsuarioServlet</servlet-class>
    </servlet>            
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/AdicionarProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/RemoverProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoCompraServlet</servlet-name>
        <url-pattern>/carrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/cadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirProdutoFotoServlet</servlet-name>
        <url-pattern>/ExibirProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/atualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProdutoServlet</servlet-name>
        <url-pattern>/buscarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarProdutoServlet</servlet-name>
        <url-pattern>/removerProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/atualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCategoriaServlet</servlet-name>
        <url-pattern>/buscarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarCategoriaServlet</servlet-name>
        <url-pattern>/removerCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCategoriaServlet</servlet-name>
        <url-pattern>/cadastrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/atualizarUsuario</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/dadosUsuario</url-pattern>
    </servlet-mapping>                            
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>