<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>ecommerce.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>ecommerce.controle.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ecommerce.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>ecommerce.controle.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>ecommerce.controle.AdicionarProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>ecommerce.controle.RemoverProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoCompraServlet</servlet-name>
        <servlet-class>ecommerce.controle.CarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>ecommerce.controle.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/AdicionarProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/RemoverProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoCompraServlet</servlet-name>
        <url-pattern>/carrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/cadastrarProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>